In [1]:
import os
from google import genai

os.environ["GEMINI_API_KEY"] = "AIzaSyBZQ31jrACEf9C9iIH-IxWKm6ftloH-dJA"

client = genai.Client()

response = client.models.generate_content(
    model="gemini-3-flash-preview",
    contents="Explain how AI works in a few words"
)

print(response.text)

AI analyzes vast amounts of data to find patterns and make predictions.

In [6]:
from langchain_google_genai import ChatGoogleGenerativeAI

llm = ChatGoogleGenerativeAI(
    model="gemini-3-flash-preview",
    temperature=0
)

In [2]:
from langchain_community.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [3]:
from urllib.parse import quote_plus
from langchain_community.utilities import SQLDatabase

db_user = "root"
db_password = quote_plus("vinit@07062004")  # URL-encode the password
db_host = "localhost"
db_name = "mart_assistant"

db = SQLDatabase.from_uri(
    f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",
    sample_rows_in_table_info=3
)

In [4]:
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	shoe_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(shoe_id) REFERENCES shoes (shoe_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from discounts table:
discount_id	shoe_id	pct_discount

*/


CREATE TABLE shoes (
	shoe_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Nike','Adidas','Puma','Reebok','Bata') NOT NULL,
	color ENUM('Black','White','Brown','Blue','Grey') NOT NULL,
	size ENUM('7','8','9','10','11') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (shoe_id),
	CONSTRAINT shoes_chk_1 CHECK ((`price` between 50 and 500))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from shoes table:
shoe_id	brand	color	size	price	stock_quantity
1	Adidas	Grey	7	79	99
2	Reebok	Blue	9	321	34
3	Puma	Grey	7	398	52
*/

In [7]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

qns1 = db_chain.run(
    "How many shoes do we have left for Nike in size 9 and white color?"
)

print(qns1)

C:\Users\vinit\AppData\Local\Temp\ipykernel_14984\1646026348.py:5: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain-classic 0.1.0 and will be removed in 1.0. Use `invoke` instead.
  qns1 = db_chain.run(

> Entering new SQLDatabaseChain chain...
How many shoes do we have left for Nike in size 9 and white color?
SELECT SUM(`stock_quantity`) FROM `shoes` WHERE `brand` = 'Nike' AND `size` = '9' AND `color` = 'White';
SQLResult: [(Decimal('25'),)]
Answer: We have 25 Nike shoes left in size 9 and white color.
> Finished chain.
Answer: We have 25 Nike shoes left in size 9 and white color.

In [8]:
qns1

'Answer: We have 25 Nike shoes left in size 9 and white color.'

In [9]:
qns2 = db_chain.run("How much is the price of the inventory for all small 7 size shoes?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small 7 size shoes?
SELECT SUM(`price` * `stock_quantity`) FROM `shoes` WHERE `size` = '7'
SQLResult: [(Decimal('416384'),)]
The total price of the inventory for all size 7 shoes is 416,384.
> Finished chain.

In [10]:
qns2

'The total price of the inventory for all size 7 shoes is 416,384.'